.gradle/
.kotlin/
build/
/local.properties
/captures
.idea/
*.iml
.DS_Store
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore
*.jks

# Output di compilazione degli IDE (estensione Java di VS Code / Eclipse)
bin/
